//license_container
.license_container{
    padding-top: 50px;
    padding-bottom: 93px;
    h1{
        color: rgb(245, 245, 245);
        font-weight: 400;
        font-size: 28px;
        text-align: center;
    }
    h2{
        font-size: $normal_font;
        color: rgb(245, 245, 245);
        font-weight: 400;
    }
    p{
        font-size: $normal_font;
        line-height: 20px;
        color: rgba(245, 245, 245, 0.6);
    }
    a{
        color: rgba(245, 245, 245, 0.6);
    }
    a:hover{
        color: rgb(245, 245, 245);
    }
}
//publish
.publish_container{
    padding-top: 40px;
    padding-bottom: 75px;
    .why_us{
        display: flex;
        text-align: center;
        p{
            font-size: $normal_font;
            font-weight: 400;
            color: rgb(243, 243, 243);
            opacity: 50%;
        }
        .why_us_part{
            border-radius: 16px;
            margin-right: 15px;
            margin-top: 15px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            height: 340px;
            margin-bottom: 15px;
            width: 367px;
        }
    }
    .why{
        padding-top: 20px;
        img{
            height: 95px;
        }
    }
    h3{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        color: rgb(245, 245, 245);
    }
    img.epic_advertisement{
        width: 1137px;
    }
    .often_questions{
        h2{
            text-align: center;
            font-weight: 300;
            font-size: 30px;
            color: rgb(243, 243, 243);
        }
        .open_question{
            color: rgb(243, 243, 243);
            font-size: 18px;
        }
        .sub{
            display: none;
            color: rgba(245, 245, 245, 0.6);
            font-weight: 400;
            font-size: $normal_font;
        }
        span{
            color: rgb(243, 243, 243);
            font-size: 28px;
        }
        .question{
            display: grid;
            grid-template-columns: 1fr auto;
        }
        .question:hover{
            p.open_question{
                color: rgb(0, 116, 228);
            }
            span{
                color: rgb(0, 116, 228);
            }
        }
    }
}
//rules
.rules_container{
    h1{
        font-size: 33px;
        margin: 0;
        color:  rgb(51, 51, 51);
        font-weight: 700;
        padding: 21px 0;
    }
    .rules_text_part{
        p{
            font-family: "OpenSans";
            line-height: 20px;
            font-size: $normal_font;
        }
    }
    padding-bottom: 25px;
}
